# Configuración de Supabase
SUPABASE_URL=https://fnkmgolemfkyqldopjfr.supabase.co
SUPABASE_ANON_KEY=tu_anon_key_aqui
SUPABASE_SERVICE_ROLE_KEY=tu_service_role_key_aqui
SUPABASE_JWT_SECRET=tu_jwt_secret_aqui

# Conexión a la Base de Datos (PostgreSQL)
# Reemplaza 'tu_password_aqui' con la contraseña de tu base de datos de Supabase
DATABASE_URL=postgresql://postgres:tu_password_aqui@db.fnkmgolemfkyqldopjfr.supabase.co:5432/postgres

# Configuración de Cloudinary (Imágenes)
CLOUDINARY_CLOUD_NAME=dxgriy1hu
CLOUDINARY_API_KEY=597316714382799
CLOUDINARY_API_SECRET=tu_api_secret_aqui

# Configuración de Autenticación
SECRET_KEY=tu_secret_key_aqui
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
